@media (min-width:992px){
    .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9 {
        float: right;
    }
}
@media (min-width:768px){
    .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9 {
        float: right;
    }
}
.col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9{
    float:right;
}
.pull-left{
    float:right !important;
}
.pull-right{
    float:left !important;
}
.list-unstyled {
    padding-right: 0;
}
.text-right{
    text-align: left;
}
.text-left{
    text-align: right;
}
.checkbox input[type="checkbox"], .checkbox-inline input[type="checkbox"], .radio input[type="radio"] input[type="radio"]{
    float: left;
    left: 0;
    margin-left: 0;
}
.dropdown-menu.pull-right,.dropdown-menu-right{
    left: 0;
    right: auto
}
.dropdown-menu{
    text-align: right;
}
.checkbox-inline, .radio-inline {
    padding-right: 20px;
    padding-left: 0;
}
.langcdrop{
    left: auto;
    right: 0;
}
.input-group .form-control:last-child, .input-group-addon:last-child, .input-group-btn:first-child > .btn-group:not(:first-child) > .btn, .input-group-btn:first-child > .btn:not(:first-child), .input-group-btn:last-child > .btn, .input-group-btn:last-child > .btn-group > .btn, .input-group-btn:last-child > .dropdown-toggle{
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
.input-group .form-control:first-child, .input-group-addon:first-child, .input-group-btn:first-child > .btn, .input-group-btn:first-child > .btn-group > .btn, .input-group-btn:first-child > .dropdown-toggle, .input-group-btn:last-child > .btn-group:not(:last-child) > .btn, .input-group-btn:last-child > .btn:not(:last-child):not(.dropdown-toggle){
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
.pagination > li:first-child > a, .pagination > li:first-child > span {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}
.pagination > li:last-child > a, .pagination > li:last-child > span {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}
.fa.pull-left {
    margin-left: .3em;
}
.slick-list.draggable {
    direction: ltr;
}
.a-one .alert-dismissable .close,.a-one .alert-dismissible .close{
    left: 8px;
    right: auto;
}
/* topbar */
.xscu.d-inline-block {
    border-right: 1px solid rgba(216, 216, 216, 0.1);
    padding: 0 20px 0 0;
    margin-right: 20px;
    margin-left: auto;
    border-left: none;
}
#cart-total{
    text-align: right;
}
.product-thumb,.blog-right,.product-tab,#menu .dropdown-inner ul,.accolumn.list-group a,#xsfilter .list-group a,.categorybr .ctpos{
    direction: rtl;
}
.close{
    float: left;
}
#scroll{
    left: 20px;
    right: auto
}
.hcallp{
    margin-right: 5px;
    margin-left: auto;
}
#cart::before {
    right: -10px;
    left: auto;
    border-width: 0 10px 8px 0px;
}
.thumb_img img{
    margin-left: 10px;
    margin-right: auto;
}
.haccount li a i{
    margin-left: 8px;
    margin-right: auto
}
#madebyhand-search-category{
    float: right;
    border-radius: 0 5px 5px 0;
    background-position: left 10px bottom 7px;
    border-right: 1px solid #e7e7e7;
    border-left: none;
}
#search .input-lg {
    border-right: none;
    border-radius: 5px 0 0 5px;
}
#wr-menu-icon::after{
    left: 30px;
    right: auto;
}
#search_block_top .input-group::before{
    right: 0;
    left: auto;
}
.wbSearch .close-nav i{
    margin-right: 15px;
    margin-left: auto
}
.manun ul.d-inline-block li {
    margin-left: 60px;
    margin-right: 0;
}
.more-menu{
    left: 0;
    right: auto
}
.categorybr .ctpos{
    right: 15px;
    left: auto
}
.f-left svg{
    margin-left: 10px;
    margin-right: auto
}
.cartprice{
    right: 70px;
    left: auto
}
.product-list .product-thumb .button-group{
    text-align: right
}
.date-time i{
    margin-left: 5px;
    margin-right: auto;
}
.bcomm {
    right: 0;
    left: auto;
    border-radius: 5px 0px 3px 0;
}
.blog-des.pull-right{
    padding-left: 15px;
    padding-right: 0;
}
.date-time {
    right: 25px;
    left: auto;
}
.newsl .input-group input {
    border-radius: 0 50px 50px 0 !important;
}
.newsl .input-group .input-group-btn button {
    border-radius: 50px 0 0 50px !important;
}
.ser-t {
    border-right: 1px solid #e1e1e1;
    border-left: none;
}
/* category page */
.pagination > li > a, .pagination > li > span{
    float: right;
}
.select-input::after{
    left: 10px;
    right: auto
}
.refines li{
    margin-left: 10px;
    margin-right: auto;
}
.q-l {
    margin-right: 20px;
    margin-left: auto;
}
.text-p{
    direction: rtl;
}
/* product */
.col-lg-3.col-md-3.col-sm-3.col-xs-12.sbr {
    border-left: 1px solid #c4c4c4;
    border-right: none;
}
.next-prevb .owl-theme .owl-controls .owl-buttons{
    left: 20px;
    right: auto;
}
.allproleft-right .product-thumb .caption {
    padding: 0 15px 0 0;
}
.pro-tab.nav-tabs {
    margin-left: 110px;
    margin-right: 0;
}
@media(min-width: 992px){
   .product-thumb .button-group button.cartb{
        left: 0;
        right: auto;
   }
    #count .product-thumb .button-group{
        text-align: right;
    }
}
.timerpro .product-thumb .box-timer span.countdown-section{
    margin-left: 8px;
    margin-right: auto;
}
.pro-content .checkbox label,#menu .dropdown-inner a,.refines li{
    direction: ltr;
}
.checkbox label, .radio label{
    padding-right: 20px;
    padding-left: 0;
}
.checkbox input[type="checkbox"], .checkbox-inline input[type="checkbox"], .radio input[type="radio"] input[type="radio"] {
    float: right;
    right: 0;
    margin-right: 0;
}
.radio input[type="radio"], .radio-inline input[type="radio"]{
    margin-right: -20px;
    margin-left: auto;
}
.zoomWindow {
    right: 620px;
    left: auto !important;
}
.a2a_default_style a,.a2a_default_style .a2a_counter img, .a2a_default_style .a2a_dd, .a2a_default_style .a2a_svg{
    float: right !important;
}
.mfp-image-holder .mfp-close, .mfp-iframe-holder .mfp-close{
    left: -6px;
    right: auto;
    text-align: left !important;
}
.select-input::after{
    left: 10px;
    right: auto;
}
#accordion .panel-title i{
    float: left;
}
.search-page .select-input::after {
    left: 15px;
    right: auto;
}
.footer-down h6 {
    margin-left: 30px;
    margin-right: auto;
}
.block-cat-wr h5::before {
    left: -30px;
    right: auto;
    border-color: transparent #1d405f transparent transparent;
}
.categorybr:hover h5::before {
    border-color: transparent #ffc600 transparent transparent;
}
.block-cat-wr h5 {
    right: 0;
    left: auto;
    border-radius: 0 0 5px 0;
}
.leftpro .image {
    padding: 10px 0 10px 10px;
    border-left: 1px solid #e7e7e7;
    border-right: none;
}
.deliveryinfo ul li {
    text-align: right;
}
/* other pages */
.accolumn h3 svg{
    margin-left: 10px;
    margin-right: auto;
}
#account-account.acpage #content[class*="col-"] .accrow span:first-child{
    border-left: 1px solid #eee;
    border-right: none;
    padding-left: 25px;
    padding-right: 0;
    margin-left: 25px;
    margin-right: auto;
}
#menu .dropdown-menu{
    direction: ltr;
}
.contsp{
    margin-right: 35px;
    margin-left: auto
}
.wco{
    margin-right: 38px;
    margin-left: auto
}
.list-group a,#xsfilter{
    direction: ltr;
    text-align: right;
}
#xsfilter .checkbox label{
    padding-left: 0;
    padding-right: 0
}
#xsfilter .list-group-item{
    text-align: right;
}
.mfp-close{
    left: 0;
    right: auto !important
}
.product-tab .nav-tabs li::after{
    right: 0;
    left: auto
}
.list-inline,ul{
    padding: 0
}
.middle-footer li i {
    transform: rotateY(-180deg);
}
.read_more i {
    transform: rotateY(-180deg);
}
#footer_contact .icon {
    margin-left: 25px;
    margin-right: auto;
}
@media(min-width: 1200px) and (max-width: 1409px){
    .timerpro .product-thumb .box-timer span.countdown-section {
        margin-left: 5px;
    }
}
@media(min-width: 768px) and (max-width: 991px){
    .topoffer {
        letter-spacing: 0;
        font-size: 12px;
    }
}
@media (min-width: 768px){
    .ico-menu{
        right: -2px;
        left: auto;
    }
    .form-horizontal .control-label {
        text-align: left;
    }
    #menu .dropdown-menu{
        right: 101%;
        left: auto;
    }
    .product-list .image, .product-list .caption,.wr-menu .navbar-toggle{
        float: right;
    }
    .product-list .caption{
        text-align: right;
    }
}
@media(max-width: 599px){
    .pro-tab.nav-tabs,.deliveryinfo ul{
        text-align: right;
    }
}
@media (max-width: 767px){
    .addimage {
        padding-left: 0;
        padding-right: 15px;
    }
    .menurel {
        right: 15px;
        left: auto;
    }
    .manun{
        left: 15px;
        right: auto;
    }
    #cart-total{
        left: -6px;
        right: auto;
    }
    .haccount {
        left: -25px !important;
    }
    #logo {
        padding-right: 45px;
        padding-left: 15px;
    }
    .appmenu{
        right: 15px;
        left: auto;
    }
    .next-prevb .allproleft-right .owl-theme .owl-controls .owl-buttons {
        left: 15px;
    }
    .timerpro .product-thumb .box-timer span.countdown-section {
        margin-left: 3px;
    }
    #form-currency .dropdown-menu.dropdown-menu-right {
        right: 0;
        left: auto;
    }
    footer h5 .toggle.collapsed::after,footer h5 .toggle::after,.catfilter .toggle.collapsed::after,.catfilter .toggle::after{
        float: left;
    }
    .product-list .product-thumb .button-group{
        text-align: center
    }
    #top-links {
        padding-right: 0;
        padding-left: 15px;
    }
}
@media (max-width: 991px){
    #account-account.acpage #content[class*="col-"] .accrow span:first-child{
        padding-left: 10px;
        margin-left: 10px;
    }
    .next-prevb .owl-theme .owl-controls .owl-buttons {
        left: 10px;
    }
    .sidenav{
        right: 0;
        left: auto;
        text-align: right;
    }
    .menusp{
        text-align: right;
    }
    .navbar-header{
        float: right;
    }
    #mySidenav li a i{
        float: left;
    }
    .hometimer{
        background: transparent
    }
}
@media (min-width: 992px) and (max-width: 1199px){
    .manun ul.d-inline-block li {
        margin-left: 30px;
        margin-right: 0;
    }
    .timerpro .product-thumb .box-timer span.countdown-section{
        margin-left: 3px;
    }
    .inuser{
        margin-left: 10px;
        margin-right: auto
    }
}